body{
    background-color: rgb(200, 255, 255);

}
#contador {
    color: black;
    font-size: 44px;
    background-color: aliceblue;
    margin: 80px;
    padding: 80px;
    
}
.botones{
    align-items: center;
}
#Incrementar{
    background-color: rgb(19, 224, 36);
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
}

#Disminuir{
    background-color: red;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
}